* {
  max-width: 700px;
  margin: auto;
  text-align: justify;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#photo_banniere { 
  grid-area: header;
  padding: 30px;
}

#cote {
  grid-area: left-column;
  padding: 50px;
}

#photo_id { 

}

#titre { 
font-weight: bold;
}

#identite{ 

}

#section { 
  grid-area: right-column;
  padding: 50px;
}

#experiences { 

}

#diplomes { 

}

#divers { 

}

#photo_en_bas { 

}

#footer { 

}

#name { 

}

.titre_exp { 

}